body {
    background-color: rgb(218, 218, 218);
}

label {
    font-weight: bold;
    font-size: 17px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 220px;
    height: 22px;
    border-radius: 7px;
    border: 1px solid black;
    outline: none;
}

h1 {
    text-align: center;
}
form {
    text-align: center;
}
h2,h3 {
    font-size: 23px;
    text-align: center;
}
.customButton {
    background-color: rgb(255, 181, 181);
    margin-top: 20px;
    width: 200px;
    height: 25px;
}


